:root {
  --green: #1ECD97;
  --green-hover: #16B877;
  --gray: #bbbbbb;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid var(--green);
  color: var(--green);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  color: white;
  background: var(--green);
}

button:active {
  letter-spacing: 2px;
}

button:disabled {
  background: #fff;
  border: 2px solid var(--gray);
  color: var(--gray);
  cursor: default;
}

button.submit {
  background: var(--green);
  color: white;
  border: none;
}

button.submit:hover {
  background: var(--green-hover);
}

.progress-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.progress-step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--gray);
  color: white;
  font-weight: bold;
}

.progress-step.active {
  background-color: var(--green-hover);
}

.progress-line {
  height: 5px;
  flex: 1;
  background-color: var(--gray);
  margin: 0 10px;
}

.progress-line.active {
  background-color: var(--green-hover);
}
